.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
  border-bottom: 1px solid #fcfcfc;
}

.status-bar__column .status-bar i {
  font-size: 14px;
}

.status-bar__battery-level {
  margin-left: 5px;
}
